# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*

#result
Kondo_Hiroto/
data/
morattafiles/
hozonn-UAV/
reports/
experiment_settings/
default-src-routing/
MessageRouter_kakikae/
MessageRouter_kakikaemae/
setting/